# ==============================================================
# Archivo: .env
# Práctica 11 — Variables de Entorno (NUNCA subir al repositorio)
# Agrega este archivo a tu .gitignore
# ==============================================================

# --- Puerto público de Nginx (el único expuesto al host) ---
NGINX_HOST_PORT=80

# --- Credenciales de PostgreSQL ---
POSTGRES_USER=admin_p11
POSTGRES_PASSWORD=SuperClave2025!
POSTGRES_DB=db_practica11
DB_PORT=5432

# --- Credenciales de PgAdmin ---
PGADMIN_EMAIL=admin@practica11.local
PGADMIN_PASSWORD=PgAdmin2025!

# --- Configuración del servidor para túnel SSH ---
# IP de tu servidor Linux donde corren los contenedores
SERVER_IP=192.168.1.100
# Usuario SSH del servidor
SSH_USER=tu_usuario
